<div class="container mt-3" style="min-width: 350px;">
  <div class="mb-4 text-center">
    <h2 class="text-success">Change your password</h2>
    <div class="px-3 py-3">
      <small class="text-muted">
        Enter your new password below to reset your password account.
      </small>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        formControlName="newPassword"
        placeholder="New password"
        />
        @if (hasDisplayableError('newPassword')) {
          <div class="error-feedback">
            @switch (form.controls['newPassword'].errors | firstKey) {
              @case ('required') {
                <div>
                  Please enter your password.
                </div>
              }
              @case ('minlength') {
                <div>
                  Atleast 6 characters required.
                </div>
              }
              @case ('pattern') {
                <div>
                  One or more special character(s).
                </div>
              }
            }
          </div>
        }
      </div>

      <div class="mb-3">
        <input
          type="password" class="form-control"
          formControlName="confirmPassword" placeholder="Confirm new password"/>
          @if (hasDisplayableError('confirmPassword') && form.controls['confirmPassword'].hasError('passwordMismatch')) {
            <div class="error-feedback" >
              Passwords doesn't match .
            </div>
          }
        </div>


        <div class="mt-4">
          <button type="submit" class="btn btn-success w-100 rounded-3">
            Reset Password
          </button>
        </div>
      </form>



    </div>
